.art{
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;

  &__main-info{
    position: absolute;
    bottom: $spacing-lg;
    left: $spacing-lg;

    .art__title{
      color: $color-white;
      font-size: $f-size-xxl;
    }
  }

  &__image{
    position: relative;
    height: 90vh;

    img{
      min-width: 100%;
    }
  }


  &__description{
    position: absolute;
    top: $spacing-lg;
    right: $spacing-lg;
    display: none;
    font-weight: 300;
    max-width: 300px;
    max-height: 300px;
    color: $color-white;
    overflow: hidden;

  }

  &:hover{
    .art__description{
      display: -webkit-box;
      -webkit-line-clamp: 6;
              line-clamp: 6;
      -webkit-box-orient: vertical;
    }
  }
}
