html, body{
  scroll-behavior: smooth;
}

html{
  &.no-scroll{
    overflow-y: hidden;
  }
}

main{
  z-index: 1;
  position: relative;
  height: fit-content;

  .layer{
    z-index: -1;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(89,89,89);
    background: linear-gradient(-180deg, rgba(89,89,89,0.15) 0%, $color-black 70%);
    transition: .3s ease-in-out;
  }

  .bg{
    z-index: -1;
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url("https://lh3.googleusercontent.com/SsEIJWka3_cYRXXSE8VD3XNOgtOxoZhqW1uB6UFj78eg8gq3G4jAqL4Z_5KwA12aD7Leqp27F653aBkYkRBkEQyeKxfaZPyDx0O8CzWg=s0");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    -webkit-filter: grayscale(80%);
    filter: grayscale(80%);
  }
}
