.hero{
  z-index: $z-index-medium;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;

  &__cell{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
    color: $color-white;
    border: 0.5px solid $color-black;

    &__letter{
      font-weight: 800;
      font-size: $f-size-special;
      transform: translateX(clamp(10%, 20%, 50%));

      &.letter-duplicate{
        &::before{
          content: attr(data-letter);
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(-100%, -50%);
        }
      }
    }

    &.hero__cell__text{
      justify-content: flex-start;
      align-items: flex-end;
      padding: $spacing-md;
      font-weight: 200;
      font-size: $f-size-sm;

      span{
        max-width: 15ch;
      }
    }

    &__blank{
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $color-black;
      pointer-events: none;
    }
  }

  @media only screen and (max-width : $breakpoint-md) {
    grid-template-columns: repeat(4, 1fr);

    &__cell{
      &.desktop{
        display: none;
      }
    }
  }
}
